.container-fluid, .navbar-brand{
	background-color: #6F4436;
	color: #DFCCAF;
}

#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.main{
	padding-top: 56px;
}
.sidenav{
	height: 100%;
	width: 250px;
	top: 56px;
	left: 0;
	position: fixed;
	background-color: #854442;
	color: #DFCCAF;
}
.sidenav h3{
	text-align: center;
	margin-top: 10px;
}