.container-fluid, .navbar-brand{
	background-color: #6F4436;
	color: #DFCCAF;
}

#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.main{
	padding-top: 56px;
	background-color: #BE9B7B;
	color: #3C2F2F;
	height: 100%;
	width: 100%;
	position: fixed;
}
.sidenav{
	height: 100%;
	width: 250px;
	top: 56px;
	left: 0;
	position: fixed;
	background-color: #854442;
	color: #DFCCAF;
}
.sidenav h3{
	text-align: center;
	margin-top: 10px;
}

.description{
	padding-left: 250px;
	padding-top: 60px;
	width: 100%;
	text-align: center;
	font-size: 50px;
	font-family: Brush Script MT;
}
.container{
	margin-top: 50px;
	padding-left: 250px;
	text-align: center;
}

ul{
	font-size: 18px;
	margin-left: 10px;
	margin-top: 10px;
}